<?xml version="1.0" encoding="UTF-8"?>
<suite name="FreshWorks Login Automation Suite" verbose="1">
    <parameter name="browser" value="chrome"/>
    
    <test name="Login Tests" preserve-order="true">
        <classes>
            <class name="com.playvox.tests.LoginTest"/>
        </classes>
    </test>
</suite>